<p id="notice"></p>
<div class="container">
  <h4>マイページ</h4>
  <p id="notice"></p>
    <div class="actions text-center">
      <%= form_with model: @customer, url: customers_information_edit_path, method: :patch do |f| %>
      <div class="row">
        <div class="col-1">登録情報</div>
        <div class="col-2"><%= f.submit "編集する", class: "btn btn-lg btn-success"%></div>
      </div>
      <% end %>
      
      <div class="container">
        <div class="row">
          <div class="col-5">
            <table class="table table-bordered">
              <thead class="table-active">
                <tr>
                  <th>氏名</th>
                </tr>
                <tr>
                  <th>カナ</th>
                </tr>
                <tr>
                  <th>郵便番号</th>
                </tr>
                <tr>
                  <th>住所</th>
                </tr>
                <tr>
                  <th>電話番号</th>
                </tr>
                <tr>
                  <th>メールアドレス</th>
                </tr>
                  
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <%# @order.each do |order| %>
                  <tr>
                    <td><%#= l order.created_at, format: :default %></td>
                  </tr>
                  <tr>
                    <td><%#= order.address_display %></td>
                  </tr>
                  <tr>
                    <td><%#= order.payment_method %></td>
                  </tr>
                  <tr>
                    <td><%#= order.status %></td>
                  </tr>
                  <tr>
                    <td><%#= order.status %></td>
                  </tr>
                  <tr>
                    <td><%#= order.status %></td>
                  </tr>
              </tbody>
            </table>
          </div>
      
      <p id="notice"></p>
      <div class="row">
        <div class="col-1">配送先</div>
        <div class="col-2"><%= link_to "一覧を見る", addresses_path, class: "btn btn-lg btn-primary" %></div>
      </div>
      
      <p id="notice"></p>
      <div class="row">
        <div class="col-1">注文履歴</div>
        <div class="col-2"><%= link_to "一覧を見る", orders_path, class: "btn btn-lg btn-primary" %></div>
      </div>
      
    </div>