<div class="container p-5">
  <div class="row my-3">
    <h4 class="col">ショッピングカート</h4>
    <div class="col d-flex justify-content-end">カートを空にする</div>
  </div>


<table class="table table-bordered border-dark">
  <thead class="table-active">
      <th class="col-4">商品名</th>
      <th class="col-2">単価(税込)</th>
      <th class="col-2">数量</th>
      <th class="col-2">小計</th>
      <th class="col-2"></th>
  </thead>
  <tbody>
    <% @cart_item.each do |cart_item| %>
      <tr>
        <td><%= image_tag @item.get_image %> <%= @item.name %></td>
        <td><%= (cart_item.item.price).floor %></td>
        <td><%= cart_item.subtotal%></td>
      </tr>
    <% end %>
  </tbody>
 </table>
 <div class="row mt-4">
   <div class="col-8">
     買い物をつづける
   </div>
   <div class="col-4">
     <table class="table table-bordered">
      <thead>
        <th class="table-active">合計金額</th>
        <th><%#= @合計金額 +=  (cart_item.item.price * 1.1).floor * cart_item.amount %></th>
      </thead>
    </table>
  </div>

 </div>


</div>